/desgin
/venv
/__pycache__
build/app/Analysis-00.toc
build/app/app.pkg
build/app/base_library.zip
build/app/EXE-00.toc
build/app/PKG-00.toc
build/app/PYZ-00.pyz
build/app/PYZ-00.toc
build/app/warn-app.txt
build/app/xref-app.html
build/app/localpycs/pyimod01_archive.pyc
build/app/localpycs/pyimod02_importers.pyc
build/app/localpycs/pyimod03_ctypes.pyc
build/app/localpycs/pyimod04_pywin32.pyc
build/app/localpycs/struct.pyc
build/build/Analysis-00.toc
build/build/base_library.zip
build/build/EXE-00.toc
build/build/OODaiPChatRoom.pkg
build/build/PKG-00.toc
build/build/PYZ-00.pyz
build/build/PYZ-00.toc
build/build/warn-build.txt
build/build/xref-build.html
build/build/localpycs/pyimod01_archive.pyc
build/build/localpycs/pyimod02_importers.pyc
build/build/localpycs/pyimod03_ctypes.pyc
build/build/localpycs/pyimod04_pywin32.pyc
build/build/localpycs/struct.pyc
dist/app.exe
dist/OODaiPChatRoom.exe
test_music_api.py
test_weather_api.py
test_new_music_api.py
build.spec
app.spec
app.exe
debug_weather.py
